<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="static\styling\style.css">
</head>
<body>
    <h1 style="margin-top: 0px; margin-bottom: 5px;">Emotion Detection</h1>

    <form id="input-form" method="POST" action="/">
        <div class="input-container">
            <textarea name="text" id="input-textarea" style="width: 100%; resize: none;" required placeholder="Enter your text here">{{ random_string }}</textarea>
            <button type="button" class="clear-button" onclick="clearInputTextarea()">Clear</button>
        </div>
        <div class="subran">
            <form class="submit1">
                <input type="submit" class="submit-button" value="Submit">
            </form>
            <form method="POST" action="/random" class="random1">
                <input type="submit" class="random-button random1" value="Random">
            </form>
        </div>
    </form>
    <div class="subran">
        
    </div>
    <form id="input-form" method="POST" action="/set_threshold">
        <div style="display: flex; align-items: center;">
            <div class="tooltip">
                <label for="threshold" style="margin-right: 5px;">Inference Threshold<span class="tooltip-icon">&#9432;</span> :&nbsp;</label>
                <span class="tooltip-text">This is the minimum confidence level for inferred emotions.</span>
            </div>
            <input type="number" name="threshold" id="threshold" step="0.01" min="0" max="1" value="{{ threshold }}" style="margin-right: 5px;">
            <button type="submit" class="set-button">Set</button>
        </div>
    </form>
    {% if inferred_emotions %}
    <h3>Inferred Emotions:</h3>
    <ul>
        {% for emotion in inferred_emotions %}
        <li>{{ emotion }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 style="margin: 1px;">Result History</h2>
    <div class="result-textarea main-content"> <!-- Added the .main-content class -->
        <table class="result-table">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Emotion &amp; Probs</th>
                    <th>Inferred Emotions</th>
                    <th>Confidence</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td>{{ entry['text'] }}</td>
                    <td>
                        {% for i in range(3) %}
                        {% set emotion = entry['emotions'][i] %}
                        {% set probability = entry['probabilities'][i] %}
                        {{ emotion }}: {{ '%.3f' % probability }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for inferred_emotion in entry['inferred_emotions'] %}
                        {{ inferred_emotion }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="{% if entry['probabilities']|max < 0.5 %}low-confidence
                    {% elif entry['probabilities']|max > 0.7 %}high-confidence
                    {% else %}medium-confidence{% endif %}">
                        {% if entry['probabilities']|max < 0.5 %}Low
                        {% elif entry['probabilities']|max > 0.7 %}High
                        {% else %}Medium{% endif %}
                    </td>
                    <td>{{ entry['timestamp'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <form method="POST" action="/clear" class="clear-history-form">
            <input type="submit" value="Clear History">
        </form>
        <div class="footer-text">
            Developed by : 
             <a href="https://www.linkedin.com/in/jathin-muppala-474ab5220/" class="Hover">&nbsp;Jathin&nbsp;</a>
             <a href="https://www.linkedin.com/in/rahul-harivansh-fatyal/" class="Hover">Rahul&nbsp;</a> 
             <a href="" class="Hover">Sarath</a>&nbsp; |&nbsp;
            <a href="https://github.com/Rahul-INX/text-sentiment-analysis" class="Hover"> GitHub</a>
        </div>
    </footer>


    <script>
        var inputForm = document.getElementById('input-form');
        var inputTextarea = document.getElementById('input-textarea');
        var thresholdInput = document.getElementById('threshold');
        var setButton = document.getElementById('set-button');

        inputForm.addEventListener('submit', function(event) {
            // Check if the textarea value is empty
            if (inputTextarea.value.trim() === '') {
                event.preventDefault(); // Prevent form submission
                return; // Exit the function
            }
        });

        inputTextarea.addEventListener('input', function () {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        });

        setButton.addEventListener('click', function () {
            var thresholdValue = thresholdInput.value;
            localStorage.setItem('thresholdValue', thresholdValue);
        });

        function clearInputTextarea() {
            inputTextarea.value = '';
        }
    </script>
</body>
</html>
