/* Heading */
h1 {
    color: #555;
    text-align: center;
    font-size: 36px;
}

/* Emotion and Warning */
.emoji {
    font-size: 36px;
    margin-left: 5px;
}

.warning {
    font-size: 48px;
    color: #ff4d4d;
    text-align: center;
    font-weight: bold;
    animation: breathing 4s infinite;
    display: inline-block;
    background-color: #ffd2d2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

@keyframes breathing {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(255, 77, 77, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
    }
}

/* Color Scheme */
body {
    background-color: #f5f5f5;
}

h1, th, td {
    color: #333;
}

table {
    background-color: #fff;
}

button[type="submit"] {
    background-color: #555;
    color: #fff;
}

.clear-btn button {
    background-color: #ff6666;
    color: #fff;
}

.threshold-form button {
    background-color: #555;
    color: #fff;
}

.
.warning {
    font-size: 48px;
    color: #ff4d4d;
    text-align: center;
    font-weight: bold;
    background-color: #ffd2d2;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(255, 77, 77, 0.5);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 77, 77, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 40px rgba(255, 77, 77, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 77, 77, 0.5);
    }
}




input[type="text"], button[type="submit"] {
    padding: 12px;
    font-size: 18px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.footer-text {
    margin-top: 10px;
}

.footer-text a {
    color: #0008ff;
    text-decoration: underline;
}

.footer-text a:hover {
    text-decoration: underline;
}
